<!DOCTYPE html>
<html ng-app='FoodSearch'>
<head>
  <title>Поиск и сравнение кормов для котов и собак</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/assets/footprint.png' %>
  <%= favicon_link_tag '/assets/footprint.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta name='Description' content='Помощь по подбору корма для котов и собак методом исключения компонентов и сравнения результатов.'>
  <meta name='Keywords' content='кот, кошка, собака, щенок, корм, подбор, аллерген, аллергия, курица, мопс'>
</head>
<body>

<%= yield %>

</body>
</html>
